ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dec8a0;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #d56032;
  }
  
  .active {
    background-color: #d59c32;
  }


  .about-me {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .about-me-content {
    background-color: #FDF4E9;
    border: 3px solid #e9ded0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-indent: 20px;
    align-items: center;
    margin-bottom: 10px;
    text-align: justify;
    box-shadow: 10px 5px 5px #cdb993;
  }
  
  .about-me-content h3 {
    margin-top: 0;
    text-align: center;
  }
  
  .about-me-content p {
    margin: 0;
  }
  
  .about-me img {
    border: 2px solid #FDF4E9;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  @media only screen and (max-width: 600px) {
    .about-me-content {
      padding: 10px;
    }
    
    .about-me img {
      max-width: 100%;
    }
  }