ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dec8a0;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  
}

li {
  float: left;
}

li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d56032;
}

.active {
  background-color: #d59c32;
}

   
   .header-box {
      background-color: #EAD9B9;
      border: 5px solid #e9ded0;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      margin-bottom: 20px;
      background-image: url("korkep.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 10px 5px 5px #cdb993;
    }
    
    h1 {
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 50px;
    }
    
    .about-us {
      font-size: 20px;
      text-align: justify;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .about-us-content {
      background-color: #FDF4E9;
      border: 3px solid #e9ded0;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
       /* text-indent: 20px; */
      /* line-height:2; */
      align-items: left;
      margin-bottom: 10px;
      text-align: justify;
      box-shadow: 10px 5px 5px #cdb993;
    }

    .about-us-content h3 {
      margin-top: 0;
      text-align: center;
    }
    
    .about-us-content p {
      margin: 10px;
    }
    
    .work-preview {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    
    .work-preview .box {
      width: calc(33.33% -30px);
      background-color: #FDF4E9;
      border: 3px solid #e9ded0;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 40px;
      box-shadow: 10px 5px 5px #cdb993;
    }
    
    .work-preview h3 {
      margin-top: 0;
      text-align: center;
    }
    
    .work-preview video {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
    }
    
    .contact-box {
      font-size: 20px;
      background-color: #FDF4E9;
      border: 3px solid #e9ded0;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      margin-bottom: 20px;
      box-shadow: 10px 5px 5px #cdb993;
    }
    
    .contact-box h2 {
      margin: 0;
    }
    
    .contact-info {
      text-align: center;
      padding: 20px;
    }
    
    .contact-info p {
      margin: 5px;
    }
    
    .contact-form {
      text-align: center;
      margin-top: 20px;

    }
    
    .contact-form input,
    .contact-form textarea {
      margin-bottom: 10px;
      width: 100%;
      padding: 5px;
    }
    
    .contact-form button {
      padding: 10px 20px;
    }
    
    @media only screen and (max-width: 600px) {
      .about-me-content {
        padding: 10px;
      }
      
      .about-me img {
        max-width: 100%;
      }
    }
      
      @media only screen and (min-width: 400px) and (max-width: 1250px) {
        .work-preview .box {
          width: calc(50% - 30px);
        }

      .work-preview {
        flex-wrap:wrap;
      }
      
      .work-preview .box img {
        width: 100%;
        margin-bottom: 10px;
        height: auto;
      }
    }

    #popup { /* Js felugró ablak */
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FDF4E9;
      padding: 20px;
      border: 5px solid #e9ded0;
      border-radius: 10px;
      box-shadow: 10px 5px 5px #cdb993;
    }
  
    #popup-buttons { /* Gombok stílusozása */
      text-align: center;
      margin-top: 10px;
    }

    /* Igen gomb stílusa */
  #popup-buttons button.yes-button {
    background-color: #94d096; 
    color: white;
  }

  /* Nem gomb stílusa */
  #popup-buttons button.no-button {
    background-color: #c9735f; 
    color: white;
  }

  #backToTop { /* Vissza az oldal tetejére gomb */
    display: none;
    position:static;
    bottom: 20px;
    transform: translateX(290%);
    font-size: 20px;
    padding: 15px 15px;
    background-color: #FDF4E9;
    color: solid black;
    border: 3px solid #e9ded0;
    border-radius: 10px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    #backToTop {
        font-size: 16px;
        padding: 10px 10px;
        transform: translateX(100%);
    }
}
  
.main-container { /*groups style*/
  display: flex;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  max-width: 600px;
  font-size: 16px;
  flex: 1;
  background-color: none;
  /*border: 3px solid #e9ded0;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #cdb993;
  padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.right-section h2 {
  text-align: center;
}

.table-container {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, 1fr);
  border-collapse: collapse;
  margin-top: 40px;
}

.table-cell {
  border: 1px solid #e9ded0;
  padding: 5px;
}

.table-cell:nth-child(1),
.table-cell:nth-child(2),
.table-cell:nth-child(3),
.table-cell:nth-child(4),
.table-cell:nth-child(5),
.table-cell:nth-child(6),
.table-cell:nth-child(7) {
  font-weight: bold;
}

.image-container_groups {
  text-align: center;
  margin-top: 10 px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .main-container {
      flex-direction: column;
  }
  
  .left-section {
      width: 100%;
  }

  .table-cell {
    padding: 3px;
  }

  .right-section {
      width: 100%;
  }
  .image-container_groups {
      max-width: 100%;
  }
}
 